.prfile-area{
    padding: 80px 0;
}
body{
    background-color: $bg;
    .card{
        box-shadow: 0 0 20px rgb(0, 0, 0);
        overflow: hidden;
        
        .img1 {
            img{
                height: 200px;
                width: 100%;
            }  
        }
        .img2 {
            &:hover {
                img{
                    transform: scale(1.2);
                    width: 100%;
                    height: 100%;
                }
                border-color: darkcyan;
            }
            img{
                width: 100%;
                height: 100%;
                transition: transform .4s;
                transition-timing-function: ease;
                object-fit: cover;
            }
            transition: 0.4s;
            position: relative;
            display: block;
            overflow: hidden;
            border: 7px solid #fff;
            width: 140px;
            height: 140px;
            border-radius: 50%;
            margin: { 
                left: auto;
                right: auto;
                top:-80px;
            }
        }
        .img3{
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            display: block;
            overflow: hidden;
            width: 40px;
            height: 40px;
            margin-left: auto;
            margin-right: auto;
            border-radius: 50%;
        }
        .main-text {  
            h2{
                text-transform: uppercase;
                font: {
                weight: 900;
                size: 20px;
                margin: 0 0 20px;
                }
            }
            p{
                font-size: 16;
                padding: 0 25px;
            }
        
        }
    }
}

