 
@mixin important-text {
    color: red;
    font-size: 25px;
}

@mixin bordered($color, $width) {
  border: $width solid $color;
  @content;
}

@mixin boldfont {
    font-weight: 700;
}  
  
  .danger {
    @include important-text;
    @include boldfont;
    @include bordered(blue, 20px);
    background-color: green;
  }

  .safe{
      @include bordered(blue, 3px){
        font-family: unquote("Helvetica Neue");
      };
      background-color: aqua;
  }
  
  @function sum($numbers...) {
    $sum: 0;
    @each $number in $numbers {
      $sum: $sum + $number;
    }
    @return $sum;
  }
  
$list : 10px 20px 30px 50px;

$list1 : 10px 20px 30px 50px;
  .button-basic  {
    border: none;
    // padding: length($list)*10px;
    // padding: nth($list,1);

    padding: zip($list,$list1);
    // padding: 15px 30px;
    text-align: center;
    font-size: 16px;
  }
  
  .button-report  {
    @extend .button-basic;
    background-color: red;
    width: sum(50px, 30px, 100px);

  }
  
  .button-submit  {
    @extend .button-basic;
    background-color: green;
    color: white;
  }
                                  // Selectors Functions
// $selector : selector-nest("ul","li");
// $selector : selector-nest("a , .b",".test1");
// $selector : selector-append("a , b",".active");
// $selector : selector-append("a",":hover, .active");
// $selector : selector-replace("a.active",".active",":hover");
// $selector : selector-replace("a.active",".abc",":hover");
// $selector : is-superselector("a","a.active");     //Always Return True or False
// $selector : simple-selectors("a.active");
// $selector : selector-parse("h1 .myInput .warning");

// #{$selector}{
//   margin: 10px;
// }


$ex : left;
interpolation{
  padding-#{$ex}: 10px;
}
                                  // Map Functions

$font-sizes: ("small": 12px, "normal": 18px, "large": 24px);
$font-sizes2: ("x-large": 30px, "xx-large": 36px);

.button{
  margin: map-get($font-sizes, "small");
  // width: map-has-key($font-sizes, "big");     //Always Returns True or False
  // width: map-keys($font-sizes);               //Returns all keys names
  // width: map-keys(map-merge($font-sizes, $font-sizes2));

  // width: map-values(map-remove($font-sizes, "small", "large"));
}
@each $m,$m-size in $font-sizes{
  .margin-#{$m}{
    margin: $m-size;
  }
} 

@for $i from 1 through 3{
  .list-#{$i}{
    width: $i * 100px;
  }
} 
                                    // Introspection Functions


$char: "Arial";
$list: 10px 20px 30px;
$font-sizes1: ("small": 12px, "normal": 18px, "large": 24px);


.test3{
  $num: 10px;
  padding: variable-exists(num);
  padding: global-variable-exists(num);
  padding: mixin-exists(num);
  padding: mixin-exists(boldfont);
  padding: function-exists(sum);
  padding: type-of(list);
  padding: type-of($font-sizes1);
  padding: inspect($list);
}


$social_links:(facebook, twitter, google_plus, linked_in);
$social_colors:(blue, green, red, yellow);
$social:zip($social_links, $social_colors);

.test2{
  padding: $social;
}

@each $a in $social{
  .#{nth($a,1)}{
    color:nth($a, 2);
  }
}

$str : "I am a String";
.test{
  font-size: str-length($str)*2 + px;
}